<!DOCTYPE html>
<html>
<head>
{% load static %}
<link href="/static/css/bootstrap-3.3.0.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap-3.3.0.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="/static/css/profile.css" rel="stylesheet" id="app-css">
</head>
<body style="background-color: #bbbbbb;">
	<div class="modal fade" id="alert" style="z-index: 50000;width: auto !important;" role="dialog">
    <div class="modal-dialog">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="alertmodaltext">alert</h4>
      </div>
      <!-- Modal content-->
      <div class="modal-content">
        <div id="modalalert" class="modal-body">
            <div class="alert alert-info" id="alertcontent">
              
            </div>
        </div>
      </div>
    </div>
  </div>
	<div class="container containers">
	    <div id="page" class="fb-profile">
	    	<div class="container containers">
			  <img align="left" class="fb-image-lg" src="/media/landing.jpg" alt="Profile image example"/>
			  <a href="/landing"><div class="top-left"><img src="/media/back.png" width="60" height="60"  alt="sunil"></div></a>
			  <div class="bottom-right">
			  	<a href="/new">
			  		<button type="button" class="btn btn-default">add post</button>
			  	</a>
			  </div>
			</div>

	        <img align="left" class="fb-image-profile thumbnail container containers" src="{{ pic }}" alt="Profile image example"/>
	        <div class="fb-profile-text container containers" style="color: Black;">
	            <h1>{{ firstname }} {{ lastname }}</h1>
	            <p>{{ bio }}</p>
	        </div>
	        <div class="panel panel-default">
		      <div class="panel-heading"><h3 style="float: left;">posts</h3></div>
		      <div class="panel-body"><h3 style="float: left;"></h3></div>
		    </div>
	    </div>

	</div> <!-- /container -->  
</body>
<script type="text/javascript">
		function getposts(){
			var xhr = new XMLHttpRequest();
			xhr.open("POST", window.location.origin + "/getposts" , true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var myArr = JSON.parse(xhr.responseText);
					if (myArr.length == 0){
						$('#page').append(`<div class="panel panel-default">
											<div class="panel-heading"></div>
											<div class="panel-body" style="color: Black;">هیچ پستی موجود نیست</div>
											</div>
											`)
					}
					for (var index in myArr) {
						payload = myArr[index] 
		            
						

						if (payload.is_file){
							$('#page').append(`<div id="post-${payload.pk}" class="panel panel-default">
											<div class="panel-heading">${payload.title}</div>
											<div class="panel-body" style="color: Black;">${payload.content}</div>
											<div class="panel-body" style="color: Black;"><a href="${payload.file}">دانلود فایل ضمیمه</a> 
											<button onclick="deletepost(${payload.pk},'${payload.title}')" style="float: right;" class="btn btn-danger">delete</button>
											</div>
											</div>`)
						}else{
							$('#page').append(`<div id="post-${payload.pk}" class="panel panel-default">
											<div class="panel-heading">${payload.title}</div>
											<div class="panel-body" style="color: Black;">${payload.content}</div>
											<div class="panel-body" style="color: Black;">
											<button onclick="deletepost(${payload.pk},'${payload.title}')" style="float: right;" class="btn btn-danger">delete</button>
											</div>
											</div>
											`)
						}
					}
				}
			};
			xhr.send();

		}
		getposts()

		function deletepost(pk,title){
			if (window.confirm(`are you sure want to remove this post?\ntitle: ${title}`)) {
				var xhr = new XMLHttpRequest();
				xhr.open("POST", window.location.origin + "/deletepost" , true);
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function () {
					if (xhr.readyState === 4 && xhr.status === 200) {
						$(`#post-${pk}`).remove()
						display("post deleted.")
						var myEle = document.getElementById("myElement");
					    if(!myEle){
					        $('#page').append(`<div class="panel panel-default">
											<div class="panel-heading"></div>
											<div class="panel-body" style="color: Black;">هیچ پستی موجود نیست</div>
											</div>
											`)
					    }
					}
				}
				xhr.send(JSON.stringify({"pk":pk}));
			}
		}

		function display(text){
	      $('#alertcontentvalue').remove()
	      $('#alertcontent').append(`<p id="alertcontentvalue"><strong>Alert!</strong> ${text}</p>`)
	      $('#alert').modal('show')
	    }

	</script>
</html>