<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="/static/css/home.css" rel="stylesheet" id="home-css">
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">home</a>
        </div>
      </div>
    </nav>
    <section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
        <div class="container py-5 my-5">
            <div class="row text-center pb-4">
                <div class="col-md-12">
                    <h2 class="text-white siyah-cerceve">Kiralık Otobüs Ara, Firmalar, Araçlar</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card acik-renk-form">
                        <div class="card-body">
                            <p class="font-weight-light text-dark">ya da</p>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="Firma, şahis, araç ismiyle arayabilirsin">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-warning  pl-5 pr-5">Ara</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>