<!DOCTYPE html>
<html>
<head>
{% load static %}
<link href="/static/css/bootstrap-3.3.0.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap-3.3.0.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="/static/css/profile.css" rel="stylesheet" id="app-css">
</head>
<body style="background-color: #bbbbbb;">
	<div class="container containers">
	    <div id="page" class="fb-profile">
	    	<div class="container containers">
			  <img align="left" class="fb-image-lg" src="/media/landing.jpg" alt="Profile image example"/>
			  <a href="/landing"><div class="top-left"><img src="/media/back.png" width="60" height="60"  alt="sunil"></div></a>
			  <div class="bottom-right">
			  	<a href="/chat/{{ username }}">
			  		<button type="button" class="btn btn-default">send message</button>
			  	</a>
			  </div>
			</div>

	        <img align="left" class="fb-image-profile thumbnail container containers" src="{{ pic }}" alt="Profile image example"/>
	        <div class="fb-profile-text container containers" style="color: Black;">
	            <h1>{{ firstname }} {{ lastname }}</h1>
	            <p>{{ bio }}</p>
	        </div>
	        <div class="panel panel-default">
		      <div class="panel-heading"><h3 style="float: left;">posts</h3></div>
		      <div class="panel-body"><h3 style="float: left;"></h3></div>
		    </div>

	    </div>

	</div> <!-- /container -->  
	<script type="text/javascript">
		function getposts(){
			var xhr = new XMLHttpRequest();
			xhr.open("POST", window.location.origin + "/getposts/{{ username }}" , true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function () {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var myArr = JSON.parse(xhr.responseText);
					if (myArr.length == 0){
						$('#page').append(`<div class="panel panel-default">
											<div class="panel-heading"></div>
											<div class="panel-body" style="color: Black;">هیچ پستی موجود نیست</div>
											</div>
											`)
					}
					for (var index in myArr) {
						payload = myArr[index] 
		            
						

						if (payload.is_file){
							$('#page').append(`<div class="panel panel-default">
											<div class="panel-heading">${payload.title}</div>
											<div class="panel-body" style="color: Black;">${payload.content}</div>
											<div class="panel-body" style="color: Black;"><a href="${payload.file}">دانلود فایل ضمیمه</a></div></div>`)
						}else{
							$('#page').append(`<div class="panel panel-default">
											<div class="panel-heading">${payload.title}</div>
											<div class="panel-body" style="color: Black;">${payload.content}</div>
											</div>
											`)
						}
					}
				}
			};
			xhr.send();

		}
		getposts()

	</script>
</body>
</html>