<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="/static/css/profile.css" rel="stylesheet" id="app-css">

<div class="container containers">
    <div class="fb-profile">
    	<div class="container containers">
		  <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
		  <a href=""><div class="top-left"><img src="/media/back.png" width="60" height="60"  alt="sunil"></div></a>
		  <div class="bottom-right"><button type="button" class="btn btn-success">send message</button></div>
		</div>

        <img align="left" class="fb-image-profile thumbnail container containers" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
        <div class="fb-profile-text container containers" style="color: Black;">
            <h1>Eli Macy</h1>
            <p>Girls just wanna go fun.</p>
        </div>
        <div class="panel panel-default">
	      <div class="panel-heading">Panel with panel-default class</div>
	      <div class="panel-body">Panel Content</div>
	    </div>
        <div class="panel panel-default">
	      <div class="panel-heading">Panel with panel-default class</div>
	      <div class="panel-body">Panel Content</div>
	    </div>
        <div class="panel panel-default">
	      <div class="panel-heading">Panel with panel-default class</div>
	      <div class="panel-body">Panel Content</div>
	      <div class="panel-body">Panel Content</div>
	    </div>
	    <div class="container containers">
		  <h2>Pagination - Active State</h2>
		  <p>Add class .active to let the user know which page he/she is on:</p>
		  <ul class="pagination">
		    <li><a href="#">1</a></li>
		    <li class="active"><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		  </ul>
		</div>
    </div>

</div> <!-- /container -->  